* {
    border: none;
    border-radius: 12px;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 30, 0.9);
    color: #8B0000; /* Темно-красный основной текст */
}

#workspaces button {
    padding: 0 8px;
    background: transparent;
    color: #A52A2A; /* Коричнево-красный для workspace */
    border-radius: 12px;
}

#workspaces button.focused {
    background: #800000; /* Темно-бордовый для активного workspace */
    color: #FFFFFF;
}

#workspaces button.urgent {
    background: #DC143C; /* Ярко-красный для urgent */
    color: #FFFFFF;
}

#clock, #cpu, #memory, #battery, #pulseaudio, #tray {
    padding: 0 12px;
    margin: 0 2px;
    background: rgba(50, 50, 50, 0.6);
    border-radius: 12px;
    color: #8B0000; /* Темно-красный для всех модулей */
}

#clock {
    color: #8B0000;
}

#cpu {
    color: #8B0000;
}

#memory {
    color: #8B0000;
}

#battery {
    color: #8B0000;
}

#pulseaudio {
    color: #8B0000;
}

#mode {
    color: #8B0000;
    background: rgba(50, 50, 50, 0.6);
    border-radius: 12px;
    padding: 0 12px;
}

